The below filter tags were used to build and select unit tests
```
{{ tf_ver.value.unit_tests_filter_flags }}
```

The following unit test section(s) were run on this release
```
\\tensorflow\...
```

The following unit tests and sections were excluded from being run. This may
have been due to build issues with Python 3.6, or are a known failure.
```
{{ tf_ver.value.unit_tests_exclude | join("\n") }}
```
