{% extends "lkft.jinja2" %}

{% block global_settings %}
{{ super() }}
context:
  test_character_delay: 10
reboot_to_fastboot: false
{% endblock global_settings %}

{% block actions %}
- deploy:
    timeout:
      minutes: 40
    to: downloads
    images:
{%- if DEVICE_TYPE == "hi6220-hikey" %}
      ptable:
        url: http://images.validation.linaro.org/snapshots.linaro.org/96boards/reference-platform/components/uefi-staging/69/hikey/release/ptable-linux-8g.img
{%- endif %}
{%- if DEVICE_TYPE in ['hi6220-hikey', 'dragonboard-410c'] %}
      boot:
        url: {{BOOT_URL}}
{%- endif %}
      dtb:
        url: {{DTB_URL}}
      kernel:
        url: {{KERNEL_URL}}
      modules:
        url: {{MODULES_URL}}
        compression: gz
{%- if DEVICE_TYPE == 'dragonboard-410c' %}
      rootfs:
{%- elif DEVICE_TYPE == 'hi6220-hikey' %}
      system:
{%- elif DEVICE_TYPE == 'x15' %}
      super:
{%- endif %}
        url: {{EXT4_IMAGE_URL}}
        format: ext4
        compression: gz
        apply-overlay: true
    os: oe
    postprocess:
      docker:
        image: linaro/kir
        steps:
        - /kir/lava/board_setup.sh {{DEVICE_TYPE}}

{% block deploy_target %}
{% endblock deploy_target %}

{% block boot_target %}
{% endblock boot_target %}

{% block test_target %}
- test:
    timeout:
      minutes: {% if job_timeout is defined %}{{ job_timeout }}{% else %}60{% endif %}
    definitions:
{% endblock test_target %}

{% endblock actions %}
